
<section layout="row" flex>
    <md-content>
        <md-list class="listMandarin">
            <md-item ng-repeat="item in todos">
                <md-item-content>
                    <div class="md-tile-left">
                        <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
                    </div>
                    <div class="md-tile-content">
                        <h3>{{item.what}}</h3>
                        <h4>{{item.who}}</h4>
                        <p>
                            {{item.notes}}
                        </p>
                    </div>
                    <div class="md-tile-right">
                        <md-button class="md-fab md-primary" ng-disabled="false" aria-label="Comment">
                            <md-icon md-font-icon="fa fa-bed"></md-icon>
                        </md-button>
                    </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
    </md-content>
</section>




